KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_RAW=crypto.trades.raw
COINBASE_WS_URL=wss://ws-feed.exchange.coinbase.com
CRYPTO_SYMBOLS=BTC-USD,ETH-USD
LOG_LEVEL=INFO
KAFKA_CLIENT_ID=crypto-producer
CHECKPOINT_DIR=/Users/kyawhein/cryto-streaming-pipeline/data/checkpoints/raw_console
SPARK_LOG_LEVEL=WARN
PRODUCER_LOG_LEVEL=INFO
